{% extends "layout.html" %} {% block content%}
<article class="card mb-4">
    {% if img_source and not img_source == 'text/html' %}
    <a href="{{ img_source }}" target="_blank">
        <img class="card-img-top" src="{{ img_source }}" alt="post image">
    </a> {% endif %}
    <div class="card-body">
        <a class="mb-2" href="{{ url_for('open_subreddit', subreddit_name=post.subreddit) }}">r/{{ post.subreddit }}</a>
        <div class="btn btn-sm ml-2 mb-2" style="background-color: #e6ffff">Score: {{post.score}}</div>
        <h3 class="card-title">
            <div class="article-title" href="{{ url_for('post', post_id=post) }}">{{ post.title }}</div>
        </h3>
        <p class="card-text">{{ post.selftext }}</p>
        {% if post.link_flair_text %}
        <a class="btn btn-sm" style="background-color: #b3ffff" href="#">{{ post.link_flair_text }}</a> {% endif %}
    </div>
    <div class="card-footer text-muted" style="font-size: small">
        <div>Posted by {% if redditor_exists(post.author.name) %}<a class="mr-2" href="{{ url_for('redditor', redditor_name=post.author) }}">u/{{ post.author }}</a>{% else%}[deleted]{% endif%}{{ get_date(post) }} ago</div>
    </div>
</article>

{% for comment in comments %}
<div class="card mt-3">
    <pre class="text-muted card-header" style="font-size: small;background-color: rgba(228, 228, 228, 0.719);">Posted by {% if redditor_exists(comment.author.name) %}<a class="mr-2" href="{{ url_for('redditor', redditor_name=comment.author) }}">u/{{ comment.author }}</a>{% else %}[deleted] {% endif %}{{ get_date(comment) }} ago  <div class="btn btn-sm text-muted test-sm">Score: {{comment.score}}</div></pre>
    <div class="card-body">
        {{ comment.body }}
    </div>
</div>
<!-- -->
{% for comment2 in comment.replies %} {% if is_valid_comment(comment2) and loop.index
< 5 %} <div class="card ml-3">
    <pre class="text-muted card-header" style="font-size: small;background-color: rgba(228, 228, 228, 0.719);">Posted by {% if redditor_exists(comment2.author.name) %}<a class="mr-2" href="{{ url_for('redditor', redditor_name=comment2.author) }}">u/{{ comment2.author }}</a>{% else %}[deleted] {% endif %}{{ get_date(comment2) }} ago  <div class="btn btn-sm text-muted test-sm">Score: {{comment2.score}}</div></pre>
    <div class="card-body">
        {{ comment2.body }}
    </div>
    </div>
    {% for comment3 in comment2.replies %} {% if is_valid_comment(comment3) and loop.index
    < 5%} <div class="card ml-5">
        <pre class="text-muted card-header" style="font-size: small;background-color: rgba(228, 228, 228, 0.719);">Posted by {% if redditor_exists(comment3.author.name) %}<a class="mr-2" href="{{ url_for('redditor', redditor_name=comment2.author) }}">u/{{ comment3.author }}</a>{% else %}[deleted] {% endif %}{{ get_date(comment3) }} ago  <div class="btn btn-sm text-muted test-sm">Score: {{comment3.score}}</div></pre>
        <div class="card-body">
            {{ comment3.body }}
        </div>
        </div>
        {% endif %} {% endfor %} {% endif %}{% endfor %}{% endfor %} {% endblock content %}